<ul class="nav nav-tabs">
  <% @channels.years.each_with_index do |year, i| %>
    <li class="nav-item">
      <%= link_to year, "#channels-#{year}",
                        class: "nav-link #{'active' if i == 0}",
                        data: { toggle: "tab" } %>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <% @channels.years.each_with_index do |year, i| %>
    <div class="tab-pane <%= 'active' if i == 0 %>"
         id="channels-<%= year %>">

      <table class="table table-striped">
        <%= render 'header' %>

        <tbody>
          <%= render @channels.in(year) %>
        </tbody>
      </table>

    </div>
  <% end %>
</div>
